<div id="attachments">
  <div class="toolbar">
    <%= image_tag('admin/plus.png', :alt => 'Add') %>
    <%= hidden_field_tag('attachment_index', @page.attachments.size, :id => 'attachment-index-field') %>
  </div>
  <h3>Attachments (<span id="attachment_count"><%= @page.attachments.count %></span>)</h3>

  <% unless @page.attachments.count.zero? %>
    <ol id="attachment_list">
      <%= render :partial => 'attachment', :collection => @page.attachments %>
    </ol>
    <div style="clear:both;"></div>
  <% end %>
  
</div>
